In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import dataset
dataset= pd.read_csv('Data.csv')
x= dataset.iloc[:, :-1].values
y=dataset.iloc[:, 3].values

In [3]:
#handle missing vales

from sklearn.impute import SimpleImputer
imputer= SimpleImputer(missing_values= np.NaN, strategy='mean', fill_value=None )
imputer= imputer.fit(x[:, 1:3])
x[:, 1:3]=imputer.transform(x[:, 1:3])

In [4]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
#missed values filledup
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [6]:
#encoding catagorical data
from  sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_x= LabelEncoder()
x[:, 0]=labelencoder_x.fit_transform(x[:, 0])
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])],     remainder='passthrough')
x=np.array(columnTransformer.fit_transform(x),dtype=np.str)

C:\Users\Dell\AppData\Local\Temp\ipykernel_11268\2370640885.py:7: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  x=np.array(columnTransformer.fit_transform(x),dtype=np.str)

In [7]:
#values of first column are labeled
x

array([['1.0', '0.0', '0.0', '44.0', '72000.0'],
       ['0.0', '0.0', '1.0', '27.0', '48000.0'],
       ['0.0', '1.0', '0.0', '30.0', '54000.0'],
       ['0.0', '0.0', '1.0', '38.0', '61000.0'],
       ['0.0', '1.0', '0.0', '40.0', '63777.77777777778'],
       ['1.0', '0.0', '0.0', '35.0', '58000.0'],
       ['0.0', '0.0', '1.0', '38.77777777777778', '52000.0'],
       ['1.0', '0.0', '0.0', '48.0', '79000.0'],
       ['0.0', '1.0', '0.0', '50.0', '83000.0'],
       ['1.0', '0.0', '0.0', '37.0', '67000.0']], dtype='<U17')

In [8]:
#dependent variable categorized
labelencoder_y= LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [9]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [10]:
#splitting the dataset to test and training sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train ,y_test= train_test_split(x,y, test_size=0.2, random_state=3)

In [11]:
x_train

array([['0.0', '0.0', '1.0', '27.0', '48000.0'],
       ['0.0', '1.0', '0.0', '30.0', '54000.0'],
       ['1.0', '0.0', '0.0', '37.0', '67000.0'],
       ['0.0', '0.0', '1.0', '38.77777777777778', '52000.0'],
       ['1.0', '0.0', '0.0', '48.0', '79000.0'],
       ['1.0', '0.0', '0.0', '44.0', '72000.0'],
       ['0.0', '0.0', '1.0', '38.0', '61000.0'],
       ['0.0', '1.0', '0.0', '50.0', '83000.0']], dtype='<U17')

In [12]:
x_test

array([['1.0', '0.0', '0.0', '35.0', '58000.0'],
       ['0.0', '1.0', '0.0', '40.0', '63777.77777777778']], dtype='<U17')

In [13]:
y_train

array([1, 0, 1, 0, 1, 0, 0, 0])

In [14]:
y_test

array([1, 1])

In [15]:
#scalling features
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform(x_test)

In [16]:
x_test

array([[ 1.29099445, -0.57735027, -0.77459667, -0.54211182, -0.53840499],
       [-0.77459667,  1.73205081, -0.77459667,  0.11944837, -0.05982278]])

In [17]:
x_train

array([[-0.77459667, -0.57735027,  1.29099445, -1.60060813, -1.36672035],
       [-0.77459667,  1.73205081, -0.77459667, -1.20367201, -0.86973113],
       [ 1.29099445, -0.57735027, -0.77459667, -0.27748775,  0.20707884],
       [-0.77459667, -0.57735027,  1.29099445, -0.04226635, -1.03539421],
       [ 1.29099445, -0.57735027, -0.77459667,  1.17794467,  1.20105728],
       [ 1.29099445, -0.57735027, -0.77459667,  0.64869652,  0.62123652],
       [-0.77459667, -0.57735027,  1.29099445, -0.14517571, -0.28991038],
       [-0.77459667,  1.73205081, -0.77459667,  1.44256875,  1.53238343]])