In [15]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
#import dataset
dataset= pd.read_csv('Data.csv')
x= dataset.iloc[:, :-1].values
y=dataset.iloc[:, 3].values

In [21]:
#handle missing vales

from sklearn.impute import SimpleImputer
imputer= SimpleImputer(missing_values= np.NaN, strategy='mean', fill_value=None )
imputer= imputer.fit(x[:, 1:3])
x[:, 1:3]=imputer.transform(x[:, 1:3])

In [24]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [25]:
#missed values filledup
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [37]:
#encoding catagorical data
from  sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_x= LabelEncoder()
x[:, 0]=labelencoder_x.fit_transform(x[:, 0])
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])],     remainder='passthrough')
x=np.array(columnTransformer.fit_transform(x),dtype=np.str)

In [38]:
#values of first column are labeled
x

array([['1.0', '0.0', '0.0', '44.0', '72000.0'],
       ['0.0', '0.0', '1.0', '27.0', '48000.0'],
       ['0.0', '1.0', '0.0', '30.0', '54000.0'],
       ['0.0', '0.0', '1.0', '38.0', '61000.0'],
       ['0.0', '1.0', '0.0', '40.0', '63777.77777777778'],
       ['1.0', '0.0', '0.0', '35.0', '58000.0'],
       ['0.0', '0.0', '1.0', '38.77777777777778', '52000.0'],
       ['1.0', '0.0', '0.0', '48.0', '79000.0'],
       ['0.0', '1.0', '0.0', '50.0', '83000.0'],
       ['1.0', '0.0', '0.0', '37.0', '67000.0']], dtype='<U17')

In [39]:
#dependent variable categorized
labelencoder_y= LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [40]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [45]:
#splitting the dataset to test and training sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train ,y_test= train_test_split(x,y, test_size=0.2, random_state=0)

In [46]:
x_train

array([['0.0', '1.0', '0.0', '40.0', '63777.77777777778'],
       ['1.0', '0.0', '0.0', '37.0', '67000.0'],
       ['0.0', '0.0', '1.0', '27.0', '48000.0'],
       ['0.0', '0.0', '1.0', '38.77777777777778', '52000.0'],
       ['1.0', '0.0', '0.0', '48.0', '79000.0'],
       ['0.0', '0.0', '1.0', '38.0', '61000.0'],
       ['1.0', '0.0', '0.0', '44.0', '72000.0'],
       ['1.0', '0.0', '0.0', '35.0', '58000.0']], dtype='<U17')

In [47]:
x_test

array([['0.0', '1.0', '0.0', '30.0', '54000.0'],
       ['0.0', '1.0', '0.0', '50.0', '83000.0']], dtype='<U17')

In [48]:
y_train

array([1, 1, 1, 0, 1, 0, 0, 1])

In [49]:
y_test

array([0, 0])

In [53]:
#scalling features
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform(x_test)

In [54]:
x_test

array([[-1.        ,  2.64575131, -0.77459667, -1.45882927, -0.90166297],
       [-1.        ,  2.64575131, -0.77459667,  1.98496442,  2.13981082]])

In [55]:
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])